<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>imces app</title>
  </head>
  <body style="background-image: url(static/img/main_background.jpg); background-size: cover; background-attachment: fixed">
    <div class="container">
      <div class="row mt-1">
        <a href ="/" class="col col-md-3 pt-2 float-left stretched-link" style="background-color: rgba(255,255,255,0.9); border-radius: 10px; text-decoration: none; color: black;">
          <h1>IMCES</h1>
          <h6>Application for agronomists</h6>
        </a>
        <div class="col">
        </div>
        <div class="col col-md-3 float-right" style="background-color: rgba(255,255,255,0.9); border-radius: 10px;">
          <div class="media p-3">
            <img src="static/img/user_icon.png" class="mr-3" style="width: 64px; height: 64px;" alt="=(">
            <div class="media-body">
              <h5 class="mt-0">{{username}}</h5>
              <a href='/'>Мой профиль</a>
            </div>
          </div>
        </div>
      </div>
      <div class="information mt-4" style="background-color: rgba(255,255,255,0.9); border-radius: 10px;">
        <div class="row justify-content-center">
          <div class="col text-center">
            <h1>Отчёт для зонда №{{station_number}}</h1>
            <h5>за период {{date}}</h5>
          </div>
        </div>
        <div class="row justify-content-center p-2">
          <button class="btn btn-primary m-1" data-toggle="collapse" href="#collapse_last_measurement" role="button" aria-expanded="false" aria-controls="collapse_last_measurement">Показать последнее измерение</button>
          <button class="btn btn-primary m-1" type="button" data-toggle="collapse" data-target="#collapse_statistics" aria-expanded="false" aria-controls="collapse_statistics">Динамика изменений температуры</button>
          <button class="btn btn-primary m-1" type="button" data-toggle="collapse" data-target="#collapse_full_log" aria-expanded="false" aria-controls="collapse_full_log">Посмотреть полный отчёт</button>
        </div>
      </div>
      <div class="row">
        <div class="col col-md-3 col-lg-3 col-sm-12 col-xs-12 pr-0">
          <div class="collapse multi-collapse" id="collapse_last_measurement">
            <div class="card card-body">
                {{last_measurement | safe}}
            </div>
          </div>
        </div>
        <div class="col col-md-9 col-lg-9 col-sm-12 col-xs-12 pl-0">
          <div class="collapse multi-collapse" id="collapse_statistics">
            <div class="card card-body">
              <div class="row">
                <div class="col col-md-6">
                  <h5>Изменение t° за выбранный период:</h5>
                  <img class="img-fluid mb-2" src="{{means_file}}">
                </div>
                <div class="col col-md-6">
                  <h5>Изменение t° за {{last_day}}:</h5>
                  <img class="img-fluid mb-2" src="{{last_day_file}}">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="collapse multi-collapse" id="collapse_full_log">
            <div class="card card-body mb-4">
               <table class="table table-responsive">
                <thead>
                  <tr>
                    <th scope="col">дата/результат</th>
                    <th scope="col">0 см</th>
                    <th scope="col">5 см</th>
                    <th scope="col">10 см</th>
                    <th scope="col">15 см</th>
                    <th scope="col">20 см</th>
                    <th scope="col">30 см</th>
                    <th scope="col">40 см</th>
                    <th scope="col">50 см</th>
                    <th scope="col">60 см</th>
                  </tr>
                </thead>
                <tbody>
                  
                  {{results | safe}}

                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>